# MONGO DOCKER INIT
MONGO_INITDB_ROOT_PASSWORD=rootpassword
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_DATABASE=CsetAnalytics

# API DB SETTINGS
DB_HOST=mongodb
DB_PORT=27017
DB_PW=rootpassword
DB_USER=root
DB_PARAMS='?readPreference=primary&gssapiServiceName=mongodb&appname=MongoDB%20Compass%20Community&ssl=false'

# COGNITO
COGNITO_REGION=us-east-1
COGNITO_POOL_ID=us-east-1_u5WdTzuFy
COGNITO_CLIENT_ID=5vb86p6m4g7ivavbftgfbsdsfp

# CORS
CORS_CSET_ORIGINS=http://localhost:4200
